// RANGLAR UZGARTIRILDI TABLE HEAD VA BUTTON LARDA

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 7px 5px;

  .hero {
    width: 65px;
  }

  .searchBox {
    position: relative;
    width: 500px;

    #search {
      width: 100%;
      height: 42px;
      padding: 0 0 0 10px;
      font-size: 16px;
      outline: none;
      border: 1.5px solid #172f6c;
      transition: 0.2s;
      color: #172f6c;

      &::placeholder {
        color: #172f6c;
      }

      @media (max-width: 830px) {
        padding: 5px;
      }

      &:focus {
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
        // border: 1px solid lightgray;
      }
    }

    .searchIcon {
      position: absolute;
      right: 0px;
      top: 6px;
      width: 35px;
      cursor: pointer;
      opacity: 0.6;
    }

    @media (max-width: 880px) {
      max-width: 300px;
      margin: 0 10px;
    }
  }

  .sort {
    display: flex;
    gap: 6px;
    flex-direction: column;
  }

  .sort div {
    display: flex;
    gap: 5px;
  }

  .sort input {
    padding: 1.5px;
  }

  .nav-right {
    display: flex;
    gap: 5px;

    .nav-right_btn {
      outline: none;
      display: inline-block;
      font-size: 1rem;
      text-transform: uppercase;
      transition: 0.3s;
      cursor: pointer;
      position: relative;
      border-radius: 0px;

      &:hover {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
    }

    .historyBtn {
      // border: 1.5px solid #000000;
      border: none;
      padding: 0.8rem 2rem;
      box-sizing: border-box;
      // background: #ffffff;
      background-image: radial-gradient(circle farthest-corner at 10% 20%,
          rgba(239, 87, 87, 0.74) 0%,
          rgba(245, 123, 13, 0.74) 90.2%);
      color: #ffffff;

      &::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        width: 0px;
        height: 0px;
        opacity: 0;
        transition: 0.3s;
      }

      &::after {
        content: "";
        position: absolute;
        right: 5px;
        bottom: 5px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        width: 0px;
        height: 0px;
        opacity: 0;
        transition: 0.3s;
      }

      &:hover::after,
      &:hover::before {
        height: 20px;
        width: 20px;
        opacity: 1;
      }
    }

    .getOrderBtn {
      // border: 1px solid #000000;
      border: none;
      padding: 0.8rem 1.2rem;

      // background: black;
      background-image: radial-gradient(circle farthest-corner at 10% 20%,
          rgba(7, 121, 222, 1) 0%,
          rgba(20, 72, 140, 1) 90%);
      color: #fff;

      &::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        width: 0px;
        height: 0px;
        opacity: 0;
        transition: 0.3s;
      }

      &::after {
        content: "";
        position: absolute;
        right: 5px;
        bottom: 5px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        width: 0px;
        height: 0px;
        opacity: 0;
        transition: 0.3s;
      }

      &:hover {
        box-shadow: 4px 0px 10px rgb(184, 184, 184);
        // transform: translateY(-5px);
      }

      &:hover::after,
      &:hover::before {
        height: 20px;
        width: 20px;
        opacity: 1;
      }
    }
  }

  .dropdown {
    display: none;
    cursor: pointer;
  }

  .css-dev-only-do-not-override-17a39f8.ant-btn {
    border: none !important;
    box-shadow: none !important;
  }

  @media (max-width: 660px) {
    padding-right: 15px;

    .nav-right {
      display: none;
    }

    .dropdown {
      display: block;

      #hambuger {
        padding-bottom: 5px !important;
      }
    }
  }

  .account{
    font-size: 20px;
    border-radius: 50%;
  }
}