.modal-close {
  position: fixed;
  cursor: pointer;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.modal {
  position: absolute;
  background: white;
  border: 2px solid #172F6C;
  left: 50%;
  top: 10px;
  height: 500px;
  transform: translateX(-50%);
  transition: 0.4s;
  overflow: scroll;
  width: 1600px;
  z-index: 6;
  padding: 30px 0 5px;

  h2 {
    font-weight: 700;
    font-size: 28px;
    padding: 0px 20px;
    color: #172F6C;
  }

  @media(min-width:1440px){
    height: auto;
  }
  @media(max-width:1500px){
    width: 100% ;
  }
}

label {
  font-weight: 600;
  font-size: 16px;
}

.close-btn {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9999;
  background: white;
  padding: 2px;
  border-radius: 1px;
  i {
    font-size: 32px;
    color: red;
    cursor: pointer;
  }
}

.formSizes {
  display: flex;
}

.kostumRadio {
  display: flex;
}

.customerModalClose {
  position: fixed;
  cursor: pointer;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.customerModal {
  position: fixed;
  background: white;
  border: 1px solid rgba(59, 59, 59, 0.728);
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  transition: 0.4s;
  width: 320px;
  z-index: 21;
  padding: 30px 15px;
}

.customerForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  .ant-input-number,
  .ant-input-affix-wrapper,
  .ant-picker,
  #notes {
    border-radius: 0px !important;
    padding: 8px 10px !important;
  }
  

  .ant-input {
    border-radius: 0px;
  }

  .customerBtn{
    border-radius: 0px;
  }

}

.account{
  display: flex;
  align-items: center;
  gap: 5px;
  .user{
    position: relative;
    img{
      width: 35px;
      cursor: pointer;
    }
    .logOut{
      position: absolute;
      top: 40px;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 1px 1px 10px gray;
      text-align: center;
      right: -10px;
      background: white;
      img{
        width: 40px;
      }
      h4{
        padding: 5px 20px;
        font-size: 18px;
        padding-bottom: 5px;
      }
      div{
        transition: 0.3s;
        padding: 10px 20px;
        display: flex;
        cursor: pointer;
        &:hover{
          background: rgba(128, 128, 128, 0.331);
        }
        padding-top: 5px;
        font-size: 16px;
        gap: 2px;
        gap: 1;
        border-top: 1.5px solid gray;
      }
    }
  }
}