
.containerr {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
}

body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
}

*,*::after,*::before{
  box-sizing: border-box;
}

.ant-select-selection-item{
  cursor: pointer;
}
